.board-status > [data-rbd-droppable-id] {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
}

.icon-margin {
  margin-left: .5rem !important
}

.collapsed-course-width {
  width: 195px !important;
}

.regular-course-width {
  width: 110px !important;
}